src

node_modules
coverage
tests
example
.parcel-cache

.vscode
.husky

.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.json
.versionrc.json
commitlint.config.js
next.config.js
postcss.config.js
tailwind.config.js
tsconfig.json
tsconfig.tsbuildinfo